@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav{
  width: 90% !important;
}

img{
  max-width: 100%;
  width: 276px;
  height: 276px;
}
